<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<p>
  <%= link_to new_event_path, :class => 'btn btn-primary' do %>
    <span class="icon-plus"></span>
    New event
  <% end %>
</p>

<%= render :partial => 'event', :collection => @events %>
