.event {
  padding: 20px 35px;
  border-top: 1px solid rgb(221, 221, 221);
  &:nth-child(odd) {
    background-color: rgb(249, 249, 249);
  }
  &.future {
    .date {
      font-weight: bold;
    }
    .photos li {
      display: none;
    }
  }
  h3 {
    float: left;
    margin-top: 0;
  }
  .info {
    float: right;
    text-align: right;
  }
  .photos {
    clear: both;
    text-align: center;
  }
}

.datetime select {
  width: auto;
}

